.container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.leftSide,
.rightSide {
  border: 1px solid #000;
  width: 47%;
}
.topRightSide,
.bottomRightSide {
  border: 1px solid #000;
  padding: 10px;
}
.topRightSide {
  margin: 10px;
  max-height: 300px;
  overflow-y: auto;
}
.bottomRightSide {
  margin: 20px;
}
