.container {
  display: flex;
  justify-content: center;
  .currencyContainer {
    width: 100%;
    background: #eeeedc;
    padding: 20px 0px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .labelContainer {
      margin-top: 20px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      @include breakpoint("phone") {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
